@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ObservationDetail</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <link href="~/Scripts/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/css/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/angular.min.js"></script>
    @*<script src="~/Scripts/ui-bootstrap-custom-0.13.2.min.js"></script>*@
    <script src="~/Scripts/ui-bootstrap-custom-tpls-0.13.2.min.js"></script>
    @*<link href="~/Scripts/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/ModelJs/AppConfig.js"></script>
    <script src="~/ModelJs/ObservationDetail.js"></script>
    <script src="~/ModelJs/dynamicQuestionDirective.js"></script>
    <script src="~/ModelJs/locationDirective.js"></script>
    @*<link href="~/Scripts/ui-bootstrap-custom-0.13.2-csp.css" rel="stylesheet" />*@
    <script src="~/Scripts/defiant.min.js"></script>
    @*for json filter*@
    <link href="~/Scripts/custom.css" rel="stylesheet" />
    <script src="~/ModelJs/fileUploader.js"></script>
    <script src="~/ModelJs/FileSaver.min.js"></script>
    <script src="~/ModelJs/modalPopUp.js"></script>
</head>

<script type="text/javascript" language="javascript">
    

    var app = angular.module("myapp", ['ui.bootstrap']);
    app.directive('ngDynamicquestion', ngDynamicquestion);
    app.directive('ngLocation', ngLocation);
    app.directive('fileModel', fileModel);
    app.directive('ngConfirmClick', ngConfirmClick);

    app.controller("ObservationDetail", ObservationDetail);
    app.controller('modalPopUp', modalPopUp)

    app.factory('authInterceptor', authInterceptor);
    app.service('fileUpload', fileUpload);

    app.config(function ($sceDelegateProvider) {
        $sceDelegateProvider.resourceUrlWhitelist(['self', '**']);
    });

    app.config(function ($httpProvider) {
        $httpProvider.interceptors.push('authInterceptor');
    });

    app.config(['$locationProvider', function ($locationProvider) {
        $locationProvider.html5Mode(false);
    }]);

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
        });
    });

    
</script>
<body ng-app="myapp" ng-controller="ObservationDetail" style="margin:4px 7px 2px 4px;">

    <script type="text/ng-template" id="obsObservationResultPopUp.html">
        <div class="modal-header">
            <h3 class="modal-title">Select Observation Result(s)</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="resultForm" novalidate>
                <div class="form-group">
                    <div class="col-xs-12">
                        <span ng-repeat="category in obsCategories">
                        <div class="row">
                            <div class="col-xs-12">{{category.lupValue}}</div>
                        </div>
                            <div ng-repeat="subCategory in category.subCategoryModels">
                                <div class="row">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-5">{{subCategory.lupValue}}</div>
                                    <div class="col-xs-2">
                                        <div class="checkbox"><label><input type="radio" name="category.lupID" /> Safe</label></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="checkbox"><label><input type="radio" name="category.lupID" /> Unsafe</label></div>
                                    </div>
                                </div>
                                </ br>
                            </div>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="updateObsResultDetail()">Save</button>
            <button class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="obsResultPopUp.html">
        <div class="modal-header">
            <h3 class="modal-title">Observation Result</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="resultForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-xs-3">Comments</label>
                    <div class="col-xs-7">
		                <input type="text" ng-model="obsResult.obsResult" class="form-control" name="obsResult" required placeholder="Enter Comments" />
	                </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Category</label>
                    <div class="col-xs-7">
                        <select ng-show="enableEdit" type="radio" class="form-control" ng-model='obsResult.obsCategoryID'>
                            <option ng-repeat="item in obsCategories" 
                                ng-click = "updateCategory(item.dataColumnB)"
                                ng-selected="item.lupID==obsResult.obsCategoryID"
                                value="{{item.lupID}}" >
                                {{item.lupValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Sub Category</label>
                    <div class="col-xs-7">
                        <span ng-repeat="categoryItem in obsCategories | filter : {lupID : obsResult.obsCategoryID}">
                            <select class="form-control" ng-model='obsResult.obsSubCategoryID'>
                                <option ng-repeat="item in categoryItem.subCategoryModels" 
                                    ng-click = "updateSubCategory(item.lupValue)"
                                    ng-selected='item.lupID==obsResult.obsSubCategoryID'
                                    value="{{item.lupID}}" >
                                    {{item.lupValue}}
                                </option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Class of Observation</label>
                    <div class="col-xs-7">
                        <p ng-hide="enableEdit" class="form-control-static">{{obsResult.displayClass}}</p>
                        <select ng-show="enableEdit" type="radio" class="form-control" ng-model='obsResult.obsClass'>
                            <option ng-repeat="item in obsClasses" 
                                ng-click = "updateClass(item.lupValue)"
                                ng-selected='item.lupID==obsResult.obsClass'
                                value="{{item.lupID}}" >
                                {{item.lupValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-repeat="question in obsResult.sotResultQuestions">
                    <label class="control-label col-xs-3">{{question.question}}</label>
                    <div class="col-xs-7">
                        <span ng-dynamicquestion ng-model="question.answer" question-type="{{question.questionType}}"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="updateObsResultDetail()">Save</button>
            <button class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="attachmentModalPopUp.html">
        <div class="modal-header">
            <h3 class="modal-title">Upload Attachment</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="attachmentForm" novalidate>
                    <div class="form-group">
                            <label class="control-label col-xs-3">Select File</label>
                            <div class="col-xs-9">
		                        <a class='btn btn-primary' href='javascript:;'>
			                        Choose File...
			                        <input type="file" file-model="myFile" my-file="myFile" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		                        </a>
		                        &nbsp;
		                        <span class='label label-info' id="upload-file-info"></span>
	                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Description</label>
                        <div class="col-xs-9">
                            <input type="text" ng-model="attachmentDescription" class="form-control" name="attachmentDescription" required placeholder="Enter description" />
                        </div>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="uploadAttachment()">Save</button>
            <button class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="userModalPopUp.html">
        <div class="modal-header">
            <h3 class="modal-title">{{actionItem.modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="userForm" novalidate>
                    <div class="form-group">
                        <label class="control-label col-xs-1"></label>
                        <div class="col-xs-10">
                        <p class="form-control-static">Enter any part of name, email or unique id and click 'Search':</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-1"></label>
                        <div class="col-xs-10">
                            <p class="input-group">
                                <input type="text" class="form-control" name="userInfo" ng-model="searchTerm" required placeholder="Enter any part of name, email or unique id" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="getUsers()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-1"></label>
                        <div class="col-xs-10">
                            <select size=10 class="form-control">
                                <option ng-repeat="user in userData" value="{{user}}" ng-click="updateSelectedUser(user)" >
                                    {{user.alias}}
                                </option>
                            </select>
                        </div>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="selectUser()">Done</button>
            <button class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    @*used for actionitem*@
    <script type="text/ng-template" id="actionItemModalPopUp.html">
        <div class="modal-header">
            <h3 class="modal-title">{{actionItem.modalTitle}}</h3>
        </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-horizontal" name="form.actionItemForm" novalidate>
                        <div class="form-group">
                            </div>
                        <div class="form-group" ng-show="actionItem.actionID > 0">
                            <label class="control-label col-xs-4">Action Item Number</label>
                            <div class="col-xs-8">
                                <p class="form-control-static">{{actionItem.actionNum}}</p>
                                </div>
                        </div>
                       <div class="form-group" ng-show="actionItem.actionID > 0">
                            <label class="control-label col-xs-4">Action ID</label>
                            <div class="col-xs-8">
                                <p class="form-control-static">{{actionItem.actionID}}</p>
                                </div>
                        </div>
                        <div class="form-group" ng-show="actionItem.actionID > 0">
                            <label class="control-label col-xs-4">Report Number</label>
                            <div class="col-xs-8">
                                <p class="form-control-static">{{actionItem.reportNum}}</p>
                                </div>
                        </div>
                        <div class="form-group" ng-show="actionItem.actionID > 0">
                            <label class="control-label col-xs-4">Report Description</label>
                            <div class="col-xs-8">
                                <p class="form-control-static">{{actionItem.actionSourceDescription}}</p>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Action Item Description</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{actionItem.actionItem}}</p>
                                <input ng-show="enableEdit" type="text" class="form-control" 
                                ng-class="{true: 'errorField'}[submitted && form.actionItemForm.actionItemDetail.$invalid]"
                                name="actionItemDetail" ng-model="actionItem.actionItem" required placeholder="Description" />
                                <span class="errorMessage" ng-show="form.actionItemForm.actionItemDetail.$invalid && submitted && form.actionItemForm.actionItemDetail.$error.required" >Action Item Description is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Assigned To</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{actionItem.assignedTo.alias}}</p>
                                <p ng-show="enableEdit" class="input-group">
                                    <input ng-show="enableEdit" type="text" class="form-control" name="assignedTo" 
                                    ng-class="{true: 'errorField'}[submitted && form.actionItemForm.assignedTo.$invalid]"
                                    ng-model="actionItem.assignedTo.alias" required placeholder="Select Assigned to " />
                                    <span class="input-group-btn">
                                    <button ng-show="enableEdit" type="button" class="btn btn-default" aria-label="Left Align" ng-click="searchUser()">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                    </button>
                                    </span>
                                </p>
                                <span class="errorMessage" ng-show="form.actionItemForm.assignedTo.$invalid && submitted && form.actionItemForm.assignedTo.$error.required" >Assigned to is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Recommendation Level</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{actionItem.recommendationLevel}}</p>
                               <select ng-show="enableEdit" type="radio" class="form-control" ng-model='actionItem.recommendationLevelID'>
                                    <option ng-repeat="item in recommendationLevels" 
                                        ng-selected='item.lupID==actionItem.recommendationLevelID'
                                        value="{{item.lupID}}" >
                                        {{item.lupValue}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Priority</label>
                            <div class="col-xs-8">
                               <p ng-hide="enableEdit" class="form-control-static">{{actionItem.priorityName}}</p>
                               <select ng-show="enableEdit" class="form-control" ng-model='actionItem.priority'>
                                    <option ng-repeat="item in priorityList" 
                                        ng-selected='item.priorityID==actionItem.priority'
                                        value="{{item.priorityID}}" >
                                        {{item.priority}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Preventive / Corrective</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{actionItem.preventive == 'P' ? "Preventive" : ( actionItem.preventive=='C'?'Corrective':'')}}</p>
                               <select ng-show="enableEdit" type="radio" class="form-control" ng-model='actionItem.preventive'>
                                    <option ng-selected='actionItem.preventive=="P"' value="P" > Preventive </option>
                                    <option ng-selected='actionItem.preventive=="C"' value="C" > Corrective </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Target Date</label>
                            <div class="col-xs-5">
                                <p ng-hide="enableEdit" class="form-control-static">{{actionItem.targetDate | date:'MM-dd-yyyy'}}</p>
                                <p ng-show="enableEdit" class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="{{displayFormat}}" name="targetDate" ng-model="actionItem.targetDate" is-open="openedTargetDt" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" date-parser="{{parserFormat}}" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openTargetDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Approval Required</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{actionItem.isApprovalRequired ? 'Yes' : 'No' }}</p>
                               <div ng-show="enableEdit" class="checkbox"><label><input type="checkbox" ng-checked="actionItem.isApprovalRequired"
                                ng-model="actionItem.isApprovalRequired"/> Is Approval Required</label></div>
                            </div>
                        </div>
                        <div ng-show="actionItem.isApprovalRequired" class="form-group">
                            <label class="control-label col-xs-4">Approver</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{ approver.alias }}</p>
                                <p ng-show="enableEdit" class="input-group">
                                    <input ng-show="enableEdit" type="text" class="form-control" name="approver" ng-model="actionItem.approver.alias" required placeholder="Select Approver " />
                                    <span class="input-group-btn">
                                        <button ng-show="enableEdit" type="button" class="btn btn-default" aria-label="Left Align" ng-click="searchApprover()">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                    </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">CC Users</label>
                            <div class="col-xs-8">
                                @*<input type="text" class="form-control form-control-small" name="approver" ng-model="actionItem.approver.alias" required placeholder="Select Approver " />*@
                                <button ng-show="enableEdit" type="button" class="btn btn-default" aria-label="Left Align" ng-click="addCCUser()">
                                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Add CC User
                                </button>
                            </div>
                        </div>
                        <div ng-show="actionItem.ccUsers.length > 0" class="form-group">
                            <label class="control-label col-xs-4"></label>
                            <div class="col-xs-8">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th ng-show="enableEdit"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in actionItem.ccUsers">
                                            <td>{{user.alias}}</td>
                                            <td ng-show="enableEdit">
                                                <button type="button" class="btn btn-default" aria-label="Left Align" confirmed-click="onCCUserDelete($index)" 
                                                    ng-confirm-click="Are you sure to delete?">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-hide="actionItem.ccUsers.length > 0">
                                            <td colspan="2">No Team Memeber selected...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="col-md-6">
                        <form class="form-horizontal" name="actionItemFormComplete" novalidate>
                        <div class="form-group">
                            </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Completion Date</label>
                            <div class="col-xs-5">
                                <p ng-hide="enableEdit" class="form-control-static">{{ actionItem.compDate | date:'MM-dd-yyyy'}}</p>
                                <p ng-show="enableEdit" class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="{{displayFormat}}" date-parser="parserFormat" name="compDate" ng-model="actionItem.compDate" is-open="openedCompletedDt" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openCompletedDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Direct Cost</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{ actionItem.directCost }} {{actionItem.currencyvthCode}}</p>
                                <input ng-show="enableEdit" class="form-control form-control-x-small" type="text" ng-model="actionItem.directCost"/>
                                <select ng-show="enableEdit" class="form-control form-control-small" ng-model="actionItem.currencyID">
                                    <option ng-selected="actionItem.currencyID == data.defaultCurrencyId"
                                     ng-repeat="data in currencyList" value="{{data.defaultCurrencyId}}"
                                    >{{data.unitName}}
                                    </option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Indirect Person Hours</label>
                            <div class="col-xs-3">
                                <p ng-hide="enableEdit" class="form-control-static">{{ actionItem.indirectPersonHrs }}</p>
                                <input ng-show="enableEdit" type="text" class="form-control" name="indirectPersonHrs" ng-model="actionItem.indirectPersonHrs" required placeholder="Enter Indirect Person Hours" />
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Response</label>
                            <div class="col-xs-8">
                                <p ng-hide="enableEdit" class="form-control-static">{{ actionItem.response }}</p>
                                <input ng-show="enableEdit" type="text" class="form-control" name="response" ng-model="actionItem.response" required placeholder="Enter User Response" />
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Verified Date</label>
                            <div class="col-xs-5">
                                <p ng-hide="enableEdit" class="form-control-static">{{ actionItem.verifiedDate }}</p>
                                <p ng-show="enableEdit" class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="{{displayFormat}}" date-parser="parserFormat" name="verifiedDate" ng-model="actionItem.verifiedDate" is-open="openedVerifiedDt" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openVerifiedVDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                                
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Completed By</label>
                            <div class="col-xs-8">{{actionItem.completedBy.alias}}
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Verified By</label>
                            <div class="col-xs-8">{{actionItem.verifiedBy.alias}}</div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
                
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-show="enableEdit" ng-click="ok()">Save</button>
            <button class="btn btn-link" ng-show="enableEdit && actionItem.actionID > -1" ng-click="enableEdit=false">back to view </button>
            
            <button class="btn btn-primary" ng-hide="enableEdit" ng-click="enableEdit=true">Edit</button>
            <button class="btn btn-link" ng-hide="enableEdit && actionItem.actionID > -1" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div >
    <div ng-if="loading" class='modal' id='lpDialog' data-backdrop='static' data-keyboard='false'>
            <div class='modal-dialog' >
                <div class='modal-content'>
                    <div class='modal-header'><b>Processing...</b></div>
                    <div class='modal-body'>
                        <div class='progress'>
                            <div class='progress-bar progress-bar-striped active' role='progressbar' aria-valuenow='100' aria-valuemin='100' aria-valuemax='100' style='width:100%'>
                              Please Wait...
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    <tabset style="z-index:100">
            <tab>
                <tab-heading>Observation Detail</tab-heading>
    
    @*<div ng-view></div>*@
    
        <form class="form-horizontal" name="form.observationForm" novalidate >
            <div class="form-group">
                </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Report Number</label>
                <div class="col-xs-10">
                    <p class="form-control-static">{{observation.reportNum}}</p>
                    </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-xs-2">Observation Date</label>
                <div class="col-xs-2">
                    <p ng-hide="enableEdit" class="form-control-static">{{observation.tourDateTime | date: displayFormat }}</p>
                    <p ng-show="enableEdit" class="input-group">
                      <input type="text" name="tourDateTime" class="form-control" datepicker-popup="{{displayFormat}}" 
                          ng-class="{true: 'errorField'}[submitted && form.observationForm.tourDateTime.$invalid]"
                          required ng-model="observation.tourDateTime" is-open="openedTourDate" min-date="minDate" max-date="'06-22-2020'" 
                          datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"  date-parser="{{parserFormat}}" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openTourDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                    <span class="errorMessage" ng-show="form.observationForm.tourDateTime.$dirty && form.observationForm.tourDateTime.$invalid && submitted && form.observationForm.tourDateTime.$error.required" >Observation Date is required</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Safety Method</label>
                <div class="col-xs-2">
                    <p ng-hide="enableEdit" class="form-control-static">{{observation.observationType}}</p>
                    <select ng-show="enableEdit" ng-change="updateSafetyMethodType()" class="form-control"
                        ng-class="{true: 'errorField'}[submitted && form.observationForm.safetyObservation.$invalid]" 
                        name="safetyObservation" ng-model="observation.safetyObservation" required>
                        <option value="">-Select-</option>
                        <option ng-repeat="method in obsMethods" value="{{method}}" ng-selected="method.lupID==observation.safetyObservationTypeID">{{method.lupValue}}</option>
                    </select>
                    <span class="errorMessage" ng-show="form.observationForm.safetyObservation.$dirty && form.observationForm.safetyObservation.$invalid && submitted && form.observationForm.safetyObservation.$error.required" >Observation Method is required</span>
                </div>
            </div>
            <div ng-hide="enableEdit" class="form-group" >
                <label class="control-label col-xs-2">Location Path</label>
                <div class="col-xs-10">
                    <p ng-hide="enableEdit" class="form-control-static">{{observation.locationPath}}</p>
                </div>
            </div>
            <div ng-repeat="locationLevel in locationLevelData.locationLevels" ng-show="enableEdit" class="form-group">
                <label class="control-label col-xs-2">{{locationLevel.levelName}}</label>
                <div class="col-xs-2">
                    <span ng-location level-no="{{locationLevel.dLocationLevelNo}}" parent-locid="{{locationLevel.parentLocId}}"></span>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-xs-2">Observation Team</label>
                <div class="table-responsive col-xs-6"> 
                    <button ng-show="enableEdit" type="button" class="btn btn-default" aria-label="Left Align" ng-click="addTeamMember()">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Team Member
                    </button>
                    <table class="table table-striped" >
                        <thead>
                            <tr>
                                
                                @*<th>Email</th>*@
                                <th >Person Class</th>
                                <th >Name</th>
                                <th >Role name</th>
                                <th style="width:100px"></th>
                            </tr>
                        </thead>
                        <tbody ng-form="form.soTeamForm">
                            <tr ng-repeat="member in observation.soTourTeam">
                               @* <td>{{member.userEmail}}</span></td>*@
                                <td>
                                    <span ng-hide="$index==sotRowEditNum">{{member.personClassName}}</span>
                                    <select ng-show="$index==sotRowEditNum" ng-change="updateMember(member)" class="form-control" name="personClassName" ng-model="member.personClass" required
                                        ng-class="{ true : 'errorField'}[sotRowEditNum==$index && teamSubmitted && form.soTeamForm.personClassName.$invalid]"> 
                                        <option value="">-Select-</option>
                                        <option ng-repeat="personClass in personClasses" value="{{personClass}}"
                                            ng-selected="personClass.lupID==member.personClassID">
                                            {{personClass.lupValue}}
                                        </option>
                                    </select>
                                    <span class="errorMessage" ng-show="sotRowEditNum==$index && teamSubmitted && form.soTeamForm.personClassName.$invalid" >Person class is required</span>
                                    @*<input ng-show="$index==sotRowEditNum" type="text" class="form-control" name="observationDetail" ng-model="member.personClassName" required placeholder="Enter Person class" />*@
                                </td>
                                <td>
                                    <span ng-hide="$index==sotRowEditNum">{{member.name}}</span>
                                    <p ng-show="$index==sotRowEditNum" class="input-group">
                                        <input ng-show="enableEdit" type="text" class="form-control" ng-disabled="member.personClassID==1"
                                            ng-class="{ true : 'errorField'}[sotRowEditNum==$index && teamSubmitted && form.soTeamForm.memberName.$invalid]"
                                            name="memberName" ng-model="member.name" required placeholder="Select Member " />
                                        <span class="input-group-btn" ng-show="member.personClassID==1">
                                            <button ng-show="enableEdit" type="button" class="btn btn-default" aria-label="Left Align" ng-click="searchMember(member)">
                                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </p>
                                    <span class="errorMessage" ng-show="sotRowEditNum==$index && teamSubmitted && form.soTeamForm.memberName.$invalid" >Member name is required</span>
                                    @*<input ng-show="$index==sotRowEditNum" type="text" class="form-control" name="memberName" ng-model="" required placeholder="Enter Member Name" />*@
                                </td>
                                <td>
                                    <span ng-hide="$index==sotRowEditNum">{{member.roleName}}</span>
                                    <input ng-show="$index==sotRowEditNum" type="text" class="form-control" name="memberRoleName" ng-model="member.roleName" placeholder="Enter Role Name" />
                                </td>
                                <td ng-show="enableEdit">
                                    <button ng-hide="$index==sotRowEditNum" type="button" class="btn btn-default" aria-label="Left Align" ng-click="editTeamMember($index)">
                                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button ng-show="$index==sotRowEditNum" type="button" class="btn btn-default" aria-label="Left Align" ng-click="saveTeamMember(member)">
                                        <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                    </button>
                                
                                    <button ng-hide="$index==sotRowEditNum" type="button" class="btn btn-default" aria-label="Left Align" confirmed-click="deleteTeamMember($index)" 
                                        ng-confirm-click="Are you sure to delete?">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <button  ng-show="$index==sotRowEditNum" type="button" class="btn btn-default" aria-label="Left Align" ng-click="cancelTeamMember()">
                                        <span  class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-hide="observation.soTourTeam.length > 0">
                                <td colspan="5">No Team Memeber selected...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Detail/Description</label>
                <div class="col-xs-9">
                    <p class="form-control-static" ng-hide="enableEdit">{{observation.details}}</p>
                    <input ng-show="enableEdit" type="text" class="form-control" 
                        ng-class="{true : 'errorField'}[submitted && form.observationForm.observationDetail.$invalid]"
                        name="observationDetail" ng-model="observation.details" required placeholder="Observation Detail" />
                    <p class="errorMessage" ng-show="form.observationForm.observationDetail.$invalid && form.observationForm.observationDetail.$error.required && submitted">Observation Detail is required</p>
                </div>
            </div>
            <div class="form-group" ng-repeat="question in observation.sotDynamicQs">
                <label class="control-label col-xs-2">{{question.question}}</label>
                <div class="col-xs-2">
                    <p class="form-control-static" ng-hide="enableEdit">{{question.displayAnswer}}</p>
                    <span ng-dynamicquestion ng-model="question.answer" question-type="{{question.questionType}}"></span>
                </div>
            </div>
            <div class="form-group" ng-repeat="question in observation.sotMethodDynamicQs">
                <label class="control-label col-xs-2">{{question.question}}</label>
                <div class="col-xs-2">
                    <p class="form-control-static" ng-hide="enableEdit">{{question.displayAnswer}}</p>
                    <span ng-dynamicquestion ng-model="question.answer" question-type="{{question.questionType}}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2"></label>
                <div class="col-xs-10">
                    <button class="btn btn-primary" ng-show="enableEdit" type="submit" value="Save" ng-click="SaveData()"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
                    <button class="btn btn-link" ng-show="enableEdit" type="button" value="Cancel" ng-click="toggleView()">back to View</button>
                    <button class="btn btn-info" ng-hide="enableEdit" type="button" value="Edit" ng-click="toggleView()"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                    <button class="btn btn-link" ng-hide="enableEdit" type="button" value="Cancel" ng-click="CancelData()" >cancel</button>
                </div>
                @*<input ng-hide="enableEdit" type="button" value="Edit" ng-click="toggleView()"/>
                <input ng-hide="enableEdit" type="button" value="Cancel" ng-click="CancelData()"/>
                <input ng-show="enableEdit" type="button" value="Save" ng-click="SaveData()"/>
                <input ng-show="enableEdit" type="button" value="Cancel" ng-click="toggleView()"/>*@
            </div>
            <div class="form-group"></div>
        </form>
                 <tabset style="z-index:100">   
                     <tab>
                        <tab-heading>Observations/Results</tab-heading>
                         <br />
                            <div class="row">
                                <div ng-show="enableEdit" class="form-group">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addResult('lg')">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Result
                                        </button>&nbsp;
                                    @*</div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-show="enableEdit" class="form-group">
                                    <div class="col-xs-3">*@
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addObservationResult('lg')">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Observation Result
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Result Num</th>
                                            <th>Result</th>
                                            <th>Category</th>
                                            <th>Class</th>
                                            <th>Action Item Completed <br />/ Pending / Overdue</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in observation.soTResults">
                                            <td><button class="btn btn-link" type="button" ng-click="editObservationResult('lg',result.soTourID, result.soTourResultID, result.obsNum, $index)" >{{result.obsNum}}</button></td>
                                            <td>{{result.obsResult}}</td>
                                            <td>{{result.soCategory}}</td>
                                            <td>{{result.classCode}}</td>
                                            <td>
                                                <span style="color:{{ result.completedColor }}">{{result.completed}}</span>/
                                                <span style="color:{{ result.pendingColor }}">{{result.pending}}</span>/
                                                <span style="color:{{ result.overdueColor }}">{{result.overdue}}</span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default" aria-label="Left Align" confirmed-click="onDeleteResult($index)" 
                                                    ng-confirm-click="Are you sure to delete?">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                Attachment(s) 
                            </tab-heading>
                            <br />
                            <div class="row">
                                <div ng-show="enableEdit" class="form-group">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addAttachment()">
                                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Add Attachments
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <br />
                            <div class="table-responsive col-xs-6">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Attachment</th>
                                        <th>Description</th>
                                        <th>Observation Number</th>
                                        <th>Attachment Size</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="attachment in observation.sotAttachments">
                                        <td>
                                            <a href="" ng-click="downloadFile(attachment.attachment)">{{attachment.fileName}}</a>
                                        </td>
                                        <td>{{attachment.attachmentDesc}}</td>
                                        <td>{{attachment.obsNum}}</td>
                                        <td>--</td>
                                        <td>
                                            <button type="button" class="btn btn-default" aria-label="Left Align" confirmed-click="onDeleteAttachment($index)" 
                                                ng-confirm-click="Are you sure to delete?">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            </div>
                        </tab>
                        <tab>
                            <tab-heading>Editors</tab-heading>
                            <br />
                            <div class="row">
                                <div ng-show="enableEdit" class="form-group">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addEditors()">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Editors
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="table-responsive col-xs-4">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Editors</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="editor in observation.sotEditors">
                                            <td>{{editor.editor}} ({{(editor.userEmail)}})</td>
                                            <td>
                                                <button type="button" class="btn btn-default" aria-label="Left Align" confirmed-click="onDeleteEditor($index)" 
                                                    ng-confirm-click="Are you sure to delete?">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>Linked Hazards</tab-heading>
                            <div >
                    
                            </div>
                        </tab>
                    </tabset>
            </tab>
            <tab>
                <tab-heading>Action Items</tab-heading>
                <div class="table-responsive">
                    <br />
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addActionItem('lg')">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Action Item
                    </button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Action Num</th>
                                <th>Action Item Desc</th>
                                <th>Assigned To</th>
                                <th>Dates</th>
                                <th>Observation Number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="actionItem in observation.sotActionItems">
                                <td>
                                    <button class="btn btn-link" type="button" ng-click="editActionItem('lg',$index)" >{{actionItem.actionNum}}</button>
                                </td>
                                <td>{{actionItem.actionItem}}</td>
                                <td>{{actionItem.assignedTo.alias}}</td>
                                <td>{{actionItem.created | date: displayFormat }}<br />{{actionItem.targetDate | date: displayFormat }}</td>
                                <td>{{actionItem.obsNum}}</td>
                                <td>
                                    <button type="button" class="btn btn-default" aria-label="Left Align" confirmed-click="onDeleteActionItem($index)" 
                                        ng-confirm-click="Are you sure to delete?">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

@*                
                <button class="btn btn-link" ng-hide="enableEdit" type="button" value="Cancel" ng-click="CancelData()" >cancel</button>*@
            </tab>
        </tabset>
        <br />
    </div>
</body>
</html>
