
    <div ng-controller="ObservationDetail">
        <table>
            <tr>
                <td>Obs Num</td>
                <td>{{observation.reportNum}}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{observation.locationPath}}</td>
            </tr>
            <tr>
                <td>Obs Type</td>
                <td>{{observation.observationType}}</td>
            </tr>
            <tr>
                <td>Observation Team</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Person Class</th>
                            <th>Role name</th>
                        </tr>
                        <tr ng-repeat="member in observation.soTourTeam">
                            <td>{{member.name}}</td>
                            <td>{{member.userEmail}}</td>
                            <td>{{member.personClassName}}</td>
                            <td>{{member.roleName}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-repeat="question in observation.sotMethodDynamicQs">
                <td>{{question.question}}</td>
                <td>{{question.Answer}}</td>
            </tr>
        </table>
    </div>
